<mat-list>
    <mat-list-item>{{u_EmailId}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_Name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_Address}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_type}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_password}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_mobileno}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_dob}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{u_img}}</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
 <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Close</button>
  </div>








