<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Record Here">
  </mat-form-field>
  <button routerLink="/deliverdetailsadd" mat-icon-button  mat-mini-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
  </button>

<div class="mat-elevation-z8">
   <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="warn">Delete Selected</button>
          </th>
          <td mat-cell *matCellDef="let row" >
            <mat-checkbox></mat-checkbox>
          </td>
        </ng-container>

     <ng-container matColumnDef="detail_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.detail_id}} </td>
     </ng-container>

     <ng-container matColumnDef="bill_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Id</th>
        <td mat-cell *matCellDef="let row"> {{row.bill_id}} </td>
     </ng-container>

    <ng-container matColumnDef="d_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Boy Id  </th>
      <td mat-cell *matCellDef="let row"> {{row.d_id}} </td>
    </ng-container>

    <ng-container matColumnDef="u_EmailId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Email Id </th>
      <td mat-cell *matCellDef="let row"> {{row.u_EmailId}} </td>
   </ng-container>

    <ng-container matColumnDef="u_Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Address </th>
        <td mat-cell *matCellDef="let row"> {{row.u_Address}} </td>
     </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="onDelete(row)" mat-mini-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onEdit(row)" mat-mini-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onViewMore(row)" mat-icon-button color="accent"  mat-mini-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>more</mat-icon>
          </button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>
       <mat-paginator [pageSizeOptions]="[1, 3, 5, 25]"></mat-paginator>
  </div>

