<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Product Id" #no >
    </mat-form-field>

    <mat-form-field>
       <input matInput placeholder="Product Name">
    </mat-form-field>

    <mat-form-field>
       <input matInput placeholder="Product Price">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Product Qty">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Product MFG">
    </mat-form-field>

    <!-- <mat-form-field>
       <input matInput placeholder="Product Image">
    </mat-form-field> -->

    <mat-form-field>
      <textarea matInput placeholder="Product Info"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option [value]="selected" *ngFor="let item of selectarr">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>


        <button mat-raised-button color="primary" (click)="onBtnClick(no)"  >Save</button>
        <button mat-raised-button color="warn" routerLink="/product" >Cancel</button>

  </div>
