<mat-list>
  <mat-list-item>{{order_id}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{bill_id}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{bill_date}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_status}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_amt}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_payment}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_discount}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_ispaid}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_spc_instruction}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_gross_amt}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{order_total_amt}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{fk_u_EmailId}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{fk_d_id}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </div>

