<mat-list>
    <mat-list-item>{{d_id}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{d_name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{d_address}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{d_mobileno}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>{{d_EmailId}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Cancel</button>
    </div>
